@model TMDemo.Models.Booking

<div class="card mb-4">
    <!-- Trek Image -->
    <img src="@Url.Action("GetImage", "Trek", new { trekId = Model.TrekId })" alt="@Model.Trek.Name">

    <!-- Card Body -->
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title fw-bold">@Model.Trek.Name</h5>

            <!-- Dropdown Menu -->
            <div class="dropdown">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    &#8226;&#8226;&#8226;
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                    <li>
                        <a class="dropdown-item text-danger" href="@Url.Action("CancelBooking", "Booking", new { bookingId = Model.BookingId })">
                            Cancel
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="@Url.Action("RescheduleBooking", "Booking", new { bookingId = Model.BookingId })">
                            Reschedule
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Trek Details -->
        <p class="card-text fw-light">
            <strong>Location:</strong> @Model.Trek.Region<br />
            <strong>Start Date:</strong> @Model.TrekStartDate.ToString("MMM dd, yyyy")<br />
            <strong>End Date:</strong> @(Model.TrekStartDate.AddDays(Model.Trek.DurationDays).ToString("MMM dd, yyyy"))<br />
            <strong>No. of People:</strong> @Model.NumberOfPeople<br />
            <strong>Duration:</strong> @Model.Trek.DurationDays days<br />
            <strong>Booking Date:</strong> @Model.BookingDate.ToString("MMM dd, yyyy")<br />
            <strong>Price:</strong> ₹@Model.TotalAmount
        </p>
        <div class="trek-card-actions">
            <a href="@Url.Action("Details", "Trek", new { trekid = Model.TrekId })" class="btn btn-success">Get Trek Info</a>
        </div>
    </div>
</div>
