<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - TrekMasters</title>
	<link rel="stylesheet" href="~/css/site.css">
	<link href="~/css/category.css" rel="stylesheet" />
	
	<link rel="stylesheet" href="~/css/register.css">
	<link href="~/css/adduserbooking.css" rel="stylesheet" />
	<link href="~/css/payment.css" rel="stylesheet" />
	
    <link rel="stylesheet" href="~/css/trekpartial.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.13/jquery.validate.unobtrusive.min.js"></script>
    
       
    


    <style>
        

        .dropdown:hover .dropdown-content {
            display: block !important;
        }

        form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh; 
            background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/images/SignInBg.jpg');
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat;
        }




        
        .form-wrapper {
            background-color: rgba(255, 255, 255, 0.7); 
            padding: 30px;
            margin-top: 80px;
            border-radius: 10px;
            width: 800px;
            z-index: 1000;
        }

            
            .form-wrapper h2 {
                text-align: center;
                margin-bottom: 20px;
                font-size: 24px;
                color: #333;
            }

     
        .form-group {
            margin-bottom: 5px;
        }

            .form-group label {
                display: block;
                font-size: 14px;
                color: #555;
                margin-bottom: 5px;
            }

            .form-group input,
            .form-group select {
                width: 90%;
                padding: 10px;
                border: 1px solid #ddd;
                border-radius: 4px;
                font-size: 14px;
                color: #333;
            }

                .form-group input:focus,
                .form-group select:focus {
                    outline: none;
                    border-color: #007bff;
                    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
                }

        
        button {
            width: 50%;
            padding: 10px;
            border: none;
            background-color: #1A3A6E;
            margin-top: 15px;
            margin-left: 170px;
            color: white;
            font-size: 16px;
            border-radius: 4px;
            cursor: pointer;

        }

            button:hover {
                background-color: #0056b3;
            }


        
        .login-link {
            text-align: center;
            margin-top: 10px;
            font-size: 14px;
            color: #555;
        }

            .login-link a {
                color: #1A3A6E;
                text-decoration: none;
               
            }

                .login-link a:hover {
                    text-decoration: underline;
                }

        
    </style>
</head>


<body>

    <header class="header">
        <nav class="navbar">
            <div class="logo">
                <a href="/" class="logo-link">
                    
                    
                    <img style="width:140px;" src="~/images/Logo1.png" />
                </a>
            </div>
            <ul class="nav-links" style="margin-top:8px;">
                <li><a href="/Trek/AllTreks">All Treks</a></li>
                <li><a href="/Trek/UpcomingTreks">Upcoming Treks</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Categories</a>
                    <div class="dropdown-content">
                        <a href="/Category/BySeason">Season</a>
                        <a href="/Category/ByDuration">Duration</a>
                        <a href="/Category/ByMonth">Month</a>
                        <a href="/Category/ByDifficulty">Difficulty</a>
                        <a href="/Category/ByRegion">Region</a>
                    </div>
                </li>
                <li><a href="/Home/AboutUs">About Us</a></li>
            </ul>
            <div class="right-section">

                <div class="right-section">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="dropdown" style="position: relative;">
                            <a href="#" class="dropbtn" style="cursor: pointer;">👤 My Profile</a>
                            <div class="dropdown-content" style="display: none; position: absolute; top: 100%; left: 0; background-color: #f9f9f9; min-width: 150px; border: 1px solid #ccc; z-index: 1000;">
                                <div><a href="/Profile/Index">Profile</a></div>

                                <div><a href="/Profile/MyBookings">My Bookings</a></div>

                                <div style="margin-left:0px;  padding: 0.1rem 1rem;  text-decoration: none; color: #000;">
                                    <form class="align-content-center" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <button type="submit" class="nav-link btn btn-link text-dark dropdown-item" style=" margin-left:0px;">Logout</button>
                                    </form>
                                </div>


                            </div>
                        </div>

                    }
                    else
                    {

                        <a href="/Account/Register" class="profile-link">
                            <span class="profile-icon">👤</span> Register
                        </a>
                    }
                </div>
                <form asp-controller="Trek" asp-action="Index" class="search-form" >
                    <p>
                        <input type="text" placeholder="Search ..." class="search-input" name="SearchString" style="margin-top:10px;">
                    </p>

                </form>
            </div>
        </nav>
    </header>

    <!-- Main Content Section -->
    <main>
        @RenderBody()
    </main>

    <!-- Footer Section -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-header">
                <a href="/Home/Index">
                    <img src="~/images/Logo1.png" style="width:178px;" asp-action="Index" asp-controller="Home" />
                </a>
            </div>

            <h2 class="footer-title">Trek By Category</h2>
            
            <div class="categories">
                <div class="category">
                    <h3><a href="/Category/BySeason" style="text-decoration:none; color:black;">Trek by Season</a></h3>
                    <ul>
                        <li><a href="@Url.Action("FilterByCategory", "Category", new { categoryType = "season", filterValue = "Spring" })" style="text-decoration:none; color:black;">Spring</a></li>
                        <li><a href="@Url.Action("FilterByCategory", "Category", new { categoryType = "season", filterValue = "Summer" })" style="text-decoration:none; color:black;">Summer</a></li>
                        <li><a href="@Url.Action("FilterByCategory", "Category", new { categoryType = "season", filterValue = "Winter" })" style="text-decoration:none; color:black;">Winter</a></li>
                        <li><a href="@Url.Action("FilterByCategory", "Category", new { categoryType = "season", filterValue = "Autumn" })" style="text-decoration:none; color:black;">Autumn</a></li>

                    </ul>
                </div>
                <div class="category">
                    <h3><a href="/Category/ByDuration" style="text-decoration:none; color:black;">Trek by Duration</a></h3>
                    <ul>
                        <li><a href="@Url.Action("FilterByCategory", "Category", new { categoryType = "Duration", filterValue = "2" })" style="text-decoration:none; color:black;">2 days</a></li>
                        <li><a href="@Url.Action("FilterByCategory", "Category", new { categoryType = "Duration", filterValue = "3" })" style="text-decoration:none; color:black;">3 days</a></li>
                        <li><a href="@Url.Action("FilterByCategory", "Category", new { categoryType = "Duration", filterValue = "4" })" style="text-decoration:none; color:black;">4 days</a></li>
                        <li><a href="@Url.Action("FilterByCategory", "Category", new { categoryType = "Duration", filterValue = "5" })" style="text-decoration:none; color:black;">5 days</a></li>
                        <li><a href="@Url.Action("FilterByCategory", "Category", new { categoryType = "Duration", filterValue = "6" })" style="text-decoration:none; color:black;">6+ days</a></li>
                    </ul>
                </div>
                <div class="category">
                    <h3><a href="/Category/ByMonth" style="text-decoration:none; color:black;">Trek by Month</a></h3>
                    <ul class="grid-2">
                        <li><a href="@Url.Action("FilterByCategory", "Category", new { categoryType = "Month", filterValue = "January" })" style="text-decoration:none; color:black;">Jan</a></li>
                        <li><a href="@Url.Action("FilterByCategory", "Category", new { categoryType = "Month", filterValue = "July" })" style="text-decoration:none; color:black;">Jul</a></li>
                        <li><a href="@Url.Action("FilterByCategory", "Category", new { categoryType = "Month", filterValue = "February" })" style="text-decoration:none; color:black;">Feb</a></li>
                        <li><a href="@Url.Action("FilterByCategory", "Category", new { categoryType = "Month", filterValue = "August" })" style="text-decoration:none; color:black;">Aug</a></li>
                        <li><a href="@Url.Action("FilterByCategory", "Category", new { categoryType = "Month", filterValue = "March" })" style="text-decoration:none; color:black;">Mar</a></li>
                        <li><a href="@Url.Action("FilterByCategory", "Category", new { categoryType = "Month", filterValue = "September" })" style="text-decoration:none; color:black;">Sep</a></li>
                        <li><a href="@Url.Action("FilterByCategory", "Category", new { categoryType = "Month", filterValue = "April" })" style="text-decoration:none; color:black;">Apr</a></li>
                        <li><a href="@Url.Action("FilterByCategory", "Category", new { categoryType = "Month", filterValue = "October" })" style="text-decoration:none; color:black;">Oct</a></li>
                        <li><a href="@Url.Action("FilterByCategory", "Category", new { categoryType = "Month", filterValue = "May" })" style="text-decoration:none; color:black;">May</a></li>
                        <li><a href="@Url.Action("FilterByCategory", "Category", new { categoryType = "Month", filterValue = "November" })" style="text-decoration:none; color:black;">Nov</a></li>
                        <li><a href="@Url.Action("FilterByCategory", "Category", new { categoryType = "Month", filterValue = "June" })" style="text-decoration:none; color:black;">Jun</a></li>
                        <li><a href="@Url.Action("FilterByCategory", "Category", new { categoryType = "Month", filterValue = "December" })" style="text-decoration:none; color:black;">Dec</a></li>

                        
                    </ul>
                </div>
                <div class="category">
                    <h3><a href="/Category/ByDifficulty" style="text-decoration:none; color:black;">Trek by Difficulty</a></h3>
                    <ul>
                        <li><a href="@Url.Action("FilterByCategory", "Category", new { categoryType = "Difficulty", filterValue = "Easy" })" style="text-decoration:none; color:black;">Easy</a></li>
                        <li><a href="@Url.Action("FilterByCategory", "Category", new { categoryType = "Difficulty", filterValue = "Moderate" })" style="text-decoration:none; color:black;">Moderate</a></li>
                        <li><a href="@Url.Action("FilterByCategory", "Category", new { categoryType = "Difficulty", filterValue = "Difficult" })" style="text-decoration:none; color:black;">Difficult</a></li>

                    </ul>
                </div>
                <div class="category">
                    <h3><a href="/Category/ByRegion" style="text-decoration:none; color:black;">Trek by Region</a></h3>
                    <ul>
                        <li><a href="@Url.Action("FilterByCategory", "Category", new { categoryType = "Region", filterValue = "Uttarakhand" })" style="text-decoration:none; color:black;">Uttarakhand</a></li>
                        <li><a href="@Url.Action("FilterByCategory", "Category", new { categoryType = "Region", filterValue = "Nagaland" })" style="text-decoration:none; color:black;">Nagaland</a></li>
                        <li><a href="@Url.Action("FilterByCategory", "Category", new { categoryType = "Region", filterValue = "Manipur" })" style="text-decoration:none; color:black;">Manipur</a></li>
                        <li><a href="@Url.Action("FilterByCategory", "Category", new { categoryType = "Region", filterValue = "Sikkim" })" style="text-decoration:none; color:black;">Sikkim</a></li>
                        <li><a href="@Url.Action("FilterByCategory", "Category", new { categoryType = "Region", filterValue = "TamilNadu" })" style="text-decoration:none; color:black;">TamilNadu</a></li>
                        <li><a href="@Url.Action("FilterByCategory", "Category", new { categoryType = "Region", filterValue = "Karnataka" })" style="text-decoration:none; color:black;">Karnataka</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer-links">
                <div>
                    <h3>Quick Links</h3>
                    <ul>
                        <li><a href="/Trek/UpcomingTreks">Upcoming Treks</a></li>
                        <li><a href="/Home/FAQs">FAQs</a></li>
                        <li><a href="/Home/Cancellation">Cancellation Policy</a></li>
                        <li><a href="/Home/AboutUs">About Us</a></li>
                    </ul>
                </div>
                <div>
                    <h3>Follow us on</h3>
                    <ul class="social-links">
                        <li>
                            <a href="https://www.instagram.com/" target="_blank" style="color: inherit; text-decoration: none; padding:5px;">
                                <i class="fab fa-instagram fa-2x" style=" color: #E4405F;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/?_rdr" target="_blank" style="color: inherit; text-decoration: none; padding:5px;">
                                <i class="fab fa-facebook fa-2x" style="color: #1877F2;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://in.linkedin.com/" target="_blank" style="color: inherit; text-decoration: none; padding:5px;">
                                <i class="fab fa-linkedin fa-2x" style="color: #0077B5;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://web.whatsapp.com/" target="_blank" style="color: inherit; text-decoration: none; padding:5px;">
                                <i class="fab fa-whatsapp fa-2x" style="color: #25D366;"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3>Contact us</h3>
                    <ul>
                        <li><span>📞</span> 9876543210</li>
                        <li><span>📞</span> 9876543210</li>
                        <li><span>⏰</span> Mon-Sun 9:30 - 19:00</li>
                        <li><span>✉️</span> TrekMastersIndia@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>