@model IEnumerable<UserViewModel>

@{
    var trekName = ViewBag.TrekName as string;
    var startDate = ViewBag.TrekStartDate as string;  // Make sure this matches the key name set in the controller
}

<h2 style="font-family:'Times New Roman', Times, serif; padding:10px; font:10px; color:brown; padding:20px;text-align:center;">Users for Trek: @trekName (Start Date: @startDate)</h2>
<div class="availability-container m-3">
    @foreach (var user in Model)
    {
        <div class="card mb-3 bg-light">
            <div class="card-body ">
                <div class="row">
                    <div class="col-md-3">
                        <strong>User:</strong><br />
                        @user.UserName
                    </div>
                    <div class="col-md-3">
                        <strong>Email:</strong><br />
                        @user.Email
                    </div>
                    <div class="col-md-3">
                        <strong>Number of People:</strong><br /> 
                        @user.NumberOfPeople
                    </div>
                    <div class="col-md-3 pl-2">
                        <strong>Booking Date:</strong><br/>
                        @user.BookingDate.ToString("yyyy-MM-dd")
                    </div>
                    <div class="col-md-3 pl-2">
                        <a asp-action="UserDetails" asp-route-BookingId="@user.BookingId" class="btn btn-primary">
                            View Participants
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
    }
</div>

