@model TMDemo.Models.Booking


@{
    ViewData["Title"] = "Payment Page";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<link href="~/css/payment.css" rel="stylesheet" />

<div class="form-container">
	<div class="form-wrapper " style="height:auto;">
        <h2>Payment</h2>
        <form asp-action="ProcessPayment" method="post">
            <input type="hidden" name="BookingId" value="@Model.BookingId" />
             
			<div class="form-group">
                <h2><strong>Members :</strong> @Model.NumberOfPeople</h2>
                <p><strong>Price:</strong>   @Model.Trek.Price * @Model.NumberOfPeople</p>
                <p><strong>GST:</strong>     @Model.Trek.Price * @Model.NumberOfPeople * 0.05</p>
                <p><strong>Platform Fee:</strong>  10</p>
			</div>
			<div class="form-group">
                <label for="PaymentMethod">Select Payment Method:</label>
                <select class="form-control" name="PaymentMethod" required>
                    <option value="Credit Card">Credit Card</option>
                    <option value="Debit Card">Debit Card</option>
                    <option value="UPI">UPI</option>
                </select>
			</div>
            <button class="btn btn-primary">Pay @((Model.NumberOfPeople * Model.Trek.Price) + (Model.NumberOfPeople * Model.Trek.Price * 0.05M)+10)</button>
		</form>
	</div>
</div>


